:host {
    display: block;
    position: relative;
    .wrapper {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }
    &:hover {
        filter: brightness(1.2);
        cursor: pointer;
        .name {
            opacity: 1;
        }
    }
    img {
        width: 100%;
    }
    &.rarity-0 {
        border: 1px solid #5b6066;
    }
    &.rarity-1 {
        border: 1px solid #156831;
    }
    &.rarity-2 {
        border: 1px solid #12407c;
    }
    &.rarity-3 {
        border: 1px solid #893088;
    }
    &.rarity-4 {
        border: 1px solid #b89d27;
    }
    &.rarity-5 {
        border: 1px solid transparent;
        border-image: linear-gradient(to bottom right, #893088 0, #fff 25%, #893088 50%, #fff 75%, #893088);
        border-image-slice: 1;
    }
    &.rarity-6 {
        border: 1px solid transparent;
        border-image: linear-gradient(to bottom right, #b89d27 0, #fff 25%, #b89d27 50%, #fff 75%, #b89d27);
        border-image-slice: 1;
    }
    .value {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0 1px 2px black, 0 -1px 2px black, 1px 0 2px black, -1px 0 2px black;
    }
    .name {
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        line-height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, .8) 50%, rgba(0, 0, 0, 0));
    }
}