@import "assets/scss/_normalize.scss";
@import "assets/scss/_variables.scss";
@import "assets/scss/_fonts.scss";
@import "assets/scss/_main.scss";
@import "../node_modules/@mdi/font/scss/materialdesignicons.scss";
html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    font-family: 'Arboria';
    background: $default-background;
    color: $default-text;
    user-select: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Brother';
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}


/* Demonstrate a "mostly customized" scrollbar
   * (won't be visible otherwise if width/height is specified) */

*::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
    /* or add it to the track */
}


/* Add a thumb */

*::-webkit-scrollbar-thumb {
    background: #000;
}